.search {
	font-size: 30px;
	margin-top: 180px;
	text-align: center;
	text-size-adjust: 100px;
}

.text-center {
	justify-content: center;
	display: flex;
	width: 100%;
}

.pagination {
	justify-content: center;
}